.content {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 1.5rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin: 1.5rem;
}

.input {
  border: none;
  border-bottom: 1px solid var(--color-border-grey-light);
  color: var(--color-border-grey-light);
  font-size: 1.2rem;
  padding-left: 0;
  padding: 1rem;
  padding-bottom: 0;
}

.input:focus-visible {
  outline: none;
}

.input:focus,
.input:hover {
  border-bottom: 2px solid var(--color-border-grey-light);
}

.inputBox {
  align-items: baseline;
  display: flex;
}

.remember {
  color: var(--color-primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  transition: all 0.3s ease;
  width: 100%;
}

.remember:hover {
  opacity: 0.7;
}

.changeForm span {
  color: var(--color-primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  transition: all 0.3s ease;
  width: 100%;
}

.changeForm span:hover {
  opacity: 0.7;
}

.formIcon {
  color: var(--color-border-grey-light);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.formIconEye {
  color: var(--color-border-grey-light);
  cursor: pointer;
  font-size: 1.2rem;
}

.error {
  color: red;
  font-size: 12px;
}
