.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cartSide {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.cartIcon {
  position: relative;
}

.cartIcon span {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 100%;
  color: var(--color-font-light);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  height: 25px;
  justify-content: center;
  left: -15px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 25px;
}

.cart {
  color: var(--color-border-grey);
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.profile {
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.options {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--color-border-grey-light);
  box-shadow: 0px 6px 11px -6px #000;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  width: 200px;
  z-index: 10;
}

.options:first-child {
  background-color: red;
}

.options span {
  border-bottom: 1px solid var(--color-border-grey-light);
  cursor: pointer;
  display: block;
  padding: 1rem;
  transition: all 0.3s ease;
}

.options span:hover {
  color: var(--color-primary);
}

.auth {
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth:hover {
  color: var(--color-primary);
}

.photoUser {
  border-radius: 50%;
}

.noPhoto {
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 50%;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.secundMenu {
  display: none;
}

/*  Media queries */
@media (max-width: 768px) {
  .firstMenu {
    display: none;
  }

  .secundMenu {
    display: block;
  }
}
