.homePlates {
  background-attachment: fixed;
  background-image: url('../../../public/fondo.jpg');
  background-position: center center;
  background-size: contain;
}

.opacity {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background-position: center center;
  background-size: cover;
}

.background {
  margin-top: 3rem;
  margin: 0 auto;
  max-width: var(--intern-container);
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 98%;
}

.title {
  color: var(--color-font-light);
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}

.discount {
  color: var(--color-background-grey-light);
}

.discount span {
  color: var(--color-primary);
  font-weight: bold;
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.product {
  align-items: center;
  background-color: var(--color-background-light);
  border-radius: 10px;
  border: 1px solid red0;
  box-shadow: 0px 6px 11px -6px #ccc;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.image {
  min-width: 100px;
}

.info {
  padding: 1rem;
}

.info p {
  font-style: italic;
  margin: 0;
}

.headerInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerInfo h2 {
  color: var(--color-primary);
  font-size: 20px;
  margin: 0;
}

.headerInfo p {
  font-weight: bold;
}

.headerInfo span {
  color: var(--color-primary);
}

/* Media queries */
@media (max-width: 768px) {
  .products {
    display: block;
  }

  .product {
    margin-bottom: 1rem;
  }

  .image {
    min-width: 80px;
  }
}
